<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<link rel="stylesheet" href="../assets/css/style.css" type="text/css"/>
		<title>Burgers</title>
		<style>
			h1 {
				font-weight: bold;
				margin-bottom: 20px;
				border-bottom: 3px solid black;
			}
			#addBurger {
				text-align: center;

			}
			#eatBurger {
				color: blue;
				float: left;
				margin-left: 100px;
			}
	
			#eatenBurgers {	
				color: red;
				float: right;
				margin-right: 100px;
			}

			#footer {
				clear: both;
			}
		</style>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>